
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    width: 100%;
}
.blog-container{
    padding-top: 30px;
    padding-bottom: 100px;
}
.blog-header{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}
.orange{
    color:#FABE4C
}
.blog-button{
    width: 170px;
    height: 60px;
    border: none;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
}
.button-icon{
    width: 30px;
    height: 30px;
}
.blog-image{
    width: 440.72px;
    height: 648.71px;
}